{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body%}
<div dir="rtl">
<div class="container">
    <div class="signup">

    <div class="col-md-9" >
        <form method="POST" enctype="multipart/form-data">
            <h4 class="auth-header">تحديث معلوماتك الشخصية</h4>
            {% csrf_token %}
                <div class="form-group">
                    {{ form.email|as_crispy_field}}

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.first_name|as_crispy_field}}
                    
                    </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form.last_name|as_crispy_field}}
                    
                    </div>
                </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.surname|as_crispy_field}}                      
                        </div>
                    </div>
                </div>
                <div class="form-group">
                      {{ user_profile.subtitle|as_crispy_field}} 
                </div>
                <div class="form-group">
                    {{ user_profile.who_i|as_crispy_field}}
                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.address_detail|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.phone_number|as_crispy_field}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.working_hours|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.wating_time|as_crispy_field}}
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.address|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.price|as_crispy_field}}
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.facbook|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.twitter|as_crispy_field}}
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.google|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.type_preson|as_crispy_field}}
                           
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.doctor|as_crispy_field}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ user_profile.image|as_crispy_field}}
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ user_profile.specialist_doctor|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="buttons-w"><button type="submit" class="btn btn-success">تعديل</button></div>
            
        </form>
    </div>
    </div>
</div>
</div>

<!-- footer start -->






{% endblock body%}
